{% extends 'base.html' %}
{% load static %}
<title>{% block title %} Smart X-change{% endblock title %}</title>

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(static/assets/img/slide/slide-1.jpg)">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Smart-Xchange</span></h2>
                        <p class="animate__animated animate__fadeInUp">
                            Transfer digital currencies using smart-Xchage account to start accepting payments and sending money with thousands of people just like you.
                            clients</p>
                        <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read
                            More</a>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(static/assets/img/slide/slide-2.jpg)">
                <div class="carousel-container">
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url(static/assets/img/slide/slide-3.jpg)">
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section><!-- End Hero -->



<!-- ======= About Section ======= -->
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About</h2>
                <p>About Us</p>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        Smart-Xchange is a 21st century startup that specialises in transferring bitcoin across clients. 
                        We offer you control over your money, provide you with security from hackers and make the transaction seamless.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Register & Create account and Login
                        </li>
                        <li><i class="ri-check-double-line"></i> Input you bitcoin address and receiver address</li>

                        <li><i class="ri-check-double-line"></i> Send
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        We empower people to become vendors on Smart-xchange and empower millions arounf the world
                        financial freedom.
                        Our tansfer method eliminates middlemen and we will help you with all the resources and guidance
                        you need


                    </p>
                    <a href="#" class="btn-learn-more">Learn More</a>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->


    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="2000" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Happy Clients. Over 2000 registered users use smart-xchange for their daily bitcoin
                            transactions</p>
                        <a href="#">Find out more</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="1801" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p><strong>Transactions</strong> We have done over 1801 transactions in bitcoin. This mounts to
                            approximately $1.25 billion dollars</p>
                        <a href="#">Find out more</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="bi bi-headset"></i>
                        <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p><strong>Hours Service</strong> We provide you with round the clock services. No matter where
                            you go, we are always here to help</p>
                        <a href="#">Find out more </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="bi bi-people"></i>
                        <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p><strong>Online Representatives</strong>We have support services that will respond to you in
                            the shortest possible time</p>
                        <a href="#">Find out more</a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

    
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Services</h2>
                <p>With Smart-Xchange you can</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">Protect your identity</a></h4>
                        <p>With Smart-Xchange, there's no credit card number that malicious actors can collect in order
                            to steal from you. In fact, it's even possible in some cases to send a payment without
                            revealing your identity, almost like with physical money. You should, however, take note
                            that some effort can be required to protect your privacy.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                    data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="">Choose your own fee</a></h4>
                        <p>
                            There is a very small fee using smart-Xchage, many wallets let you control how large a fee
                            to pay when spending. Most wallets have reasonable default fees, and higher fees can
                            encourage faster confirmation of your transactions. Fees are unrelated to the amount
                            transferred, so it's possible to send 100,000 bitcoins for the same fee it costs to send 1
                            bitcoin.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                    data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4><a href="">Security and control over your money</a></h4>
                        <p>We treat all your details with care.So long as you take the required steps to protect your
                            wallet, we can give you control over your money and a strong level of protection against
                            many types of fraud.</p>
                    </div>
                </div>



            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Testimonials</h2>
                <p>Testimonials</p>
            </div>

            <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                                <h3>Saul Goodman</h3>
                                <h4>Ceo &amp; Founder</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Smart-Xchange really helped me send bitcoin to my loved ones. With the way the naira has lost has lost value
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->
                    
                    

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                                <h3>Youngi Cho</h3>
                                <h4>Freelancer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    I found Smart-xchange to be a very reliable way to transfer bitcoin and will recommend to anybody
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="text-center">
                <h3>Call To Action</h3>
                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim id est laborum.</p>
                <a class="cta-btn" href="#">Call To Action</a>
            </div>

        </div>
    </section><!-- End Cta Section -->



    {% endblock content %}